appdirs==1.4.0
certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
lxml
packaging==16.8
psycopg2==2.7.3.2
PyJWT==1.5.3
pyparsing==2.1.10
PySocks==1.6.7
pytz==2017.3
requests>=2.20.0
six==1.11.0
twilio==6.8.4
twitter==1.17.1
urllib3>=1.23
nltk
